<h1>REGISTER</h1>
<from action="/reg" method="POST">
<div>
    <label for="name">NAME</label>
    <input type="text" id="name" name="name" required>
</div>
<div>
    <label for="email">EMAIL</label>
    <input type="text" id="email" name="email" required>
</div>
<div>
    <label for="password">PASSWORD</label>
    <input type="text" id="password" name="password" required>
</div>
<button type="submit">REGISTER</button>
</from>
<a href="/login">login</a>